<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Seja bem-vindo a página ínicial do consumo de água.">
    <title>Página Inicial</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" rel= "stylesheet">
    <link rel="shortcut icon" href="/Public/Images/gotas 1.svg" type="image/x-icon">
</head>

<body>
        <header class="cabecalho">

        </header>

        <main class="conteudo">


        </main>

        <footer class="rodape">
        </footer>
</body>

</html>